fastapi
uvicorn
arel
Pydantic<2.0.0
pymysql
psycopg2-binary
python-dotenv
cryptography
PyYAML>=6.0
colorlog
sqlalchemy
pylint
google-cloud-texttospeech
google-cloud-speech
google-cloud-storage
python-jose[cryptography]
passlib[bcrypt]
word2number
langdetect
alembic